@import url(reset.css);
body{
    text-align: center;
}
.navbar a{
    text-align: start;
    margin-right: 60px;
    color: white;
}
.contact ul {
    display: flex;
    justify-content: space-around;
}
.accueil ul li{
margin-right: 50px;
}
.imgme img{
    margin:  10px;
    width: 60%;
}
button {
    border: 0;
    background: none;
    color: #fff;
    font-size: inherit;
    text-align: center;
}
a{
    text-decoration: none;  
}