@import url(reset.css);
body{
    text-align: center;
}
.navbar a{
    text-align: start;
    margin-right: 60px;
    color: white;
}
.navbar nav{
    text-align: end; 
    /* margin-right: 60px; */
    background-color: black;
}
.navbar h3{
    color: white;
    float: left;
    margin-left: 80px;
}
.contact ul {
    display: flex;
    justify-content: space-around;
}
.accueil ul li{
margin-right: 50px;
}
.imgme img{
    margin:  10px;
    width: 60%;
}
footer{
    background-color: none;
}
.itic {
    background-color: none;
}
.univ-lille{
    background-color: none;
}
.CL{
    background-color: none;
}
.interet ul{
    display: flex;
}