@import url(reset.css);
body{
    text-align: center;
}
.navbar a{
    text-align: start;
    margin-right: 60px;
}
.navbar nav{
    text-align: end; 
    /* margin-right: 60px; */
    background-color: #D9D9D9;
}
.accueil ul {
    display: flex;
    justify-content: center;
}
.accueil ul li{
margin-right: 50px;
}
.imgme img{
    margin:  10px;
    width: 60%;
}
/* .accueileft{
    float: left;
}
.imgme{
    float: right;
} */

footer{
    background-color: #D9D9D9;
}