@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --background-color: #C9C789; /* couleur : hazel */
  --text-color: black;
  --contrast-color:#dbe0df;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 3% 15%;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
.h2one{
  text-align: left;
}
h2{
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
p {
  line-height: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  list-style-type: none;
  font-weight: 500;
}
nav li {
  position: relative;
  margin-left: 40px;
  font-size: 15px;
  cursor: pointer;
}
nav li span {
  position: absolute;
  top: -5px;
  right: -28px;
}

header {
  margin-bottom: 60px;
  
}
header .header-left {
  flex: 6;
  margin-right: 50px;
}
header .header-left small {
  font-weight: bold;
  display:flex;
  align-items:center;
} 
.education small {
  font-weight: bold;
  display:flex;
  align-items:center;
}
header .header-left h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top:15px;
}
header .header-left .links {
  margin-top: 80px;
}
header .header-left .links a {
  text-decoration:none;
  color:inherit;
  position: relative;
  margin-right: 40px;
  font-weight: bold;
}
header .header-left .links a span {
  position: absolute;
  top: -5px;
  right: -28px;
}

.about {
  margin-top: 150px;
}

.about p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.images {
  margin-top: 60px;
}
.images .image-card {
  display:flex;
  align-items:center;
  margin-bottom: 60px;
}
.images .image-card .image-left {
  margin-right: 40px;
}
.images .image-card .image-left img {
  width: 250px;
}

footer {
  margin-top: 100px;
  text-align: center
}
footer p {
  font-size: 15px;
}
.langage{
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
.java img{
  width: 100%;
}
.imgapp img{
  width: 100%;
  /* transition: transform 0.5s ease-in-out; */
  margin-bottom: 40px;
}
.imgapp:hover{
  /* transform: scale(1.1); */
}
.education {
  margin-top: 60px;
}
.education .image-card {
  display:flex;
  align-items:center;
  margin-bottom: 30px;
}
.education .image-card .image-left {
  margin-right: 10px;
}
.education .image-card .image-left img {
  width: 30%;
}
h4{
  text-align: start;
  /* text-decoration: underline 2px; */
}
/* .menu ul{
  text-decoration: underline 2px;
} */
.see_more{
  text-align: end;
  /* text-decoration:underline; */
}
.project_title{
  text-align: center;
  text-decoration: solid;
}
.canva{
  position: relative; 
  width: 100%; 
  height: 0; 
  padding-top: 56.2500%;
  padding-bottom: 0; 
  box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
  margin-top: 1.6em; 
  margin-bottom: 0.9em; 
  overflow: hidden;
  border-radius: 8px; 
  will-change: transform;
}
.iframecanva{
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  border: none; 
  padding: 0;
  margin: 0;  
}
.montblanc{
  img{
    width: 100%;
    border-radius: 1.5%;
  }
}
.experience {
  margin-top: 60px;
}
.experience .image-card {
  display:flex;
  align-items:center;
  margin-bottom: 60px;
}
.experience .image-card .image-left {
  margin-right: 200px;
}
.experience .image-card .image-left img {
  width: 250px;
}
.langImg img{
  width: 50px;
}
.acceuil-text{
  text-align: center;
}

@media screen and (max-width: 880px) {
  .images .image-card {
    flex-wrap:wrap;
  }
}

@media screen and (max-width: 621px) {
  header {
    flex-direction: column;
  }
  header .header-left {
    margin-right: 0;
  }
  header .header-right {
    margin-bottom: 40px;
  }
  header .header-right img {
    width: 250px;
  }

  .images .image-card .image-left img {
    width: 100%;
  }
}
@media screen and (orientation: landscape) {
nav{
  justify-content: space-between;
  flex-direction: row;
} 
}