<!-- <section>
            <ul>
                <li>
                    <h2><a href="#">title of project</a></h2>
                    <img src="#" alt="img of project">
                    <p>text explanation of project</p>
                </li>
                <li>
                    <h2><a href="#">title of project</a></h2>
                    <img src="#" alt="img of project">
                    <p>text explanation of project</p>
                </li>
                <li>
                    <h2><a href="#">title of project</a></h2>
                    <img src="#" alt="img of project">
                    <p>text explanation of project</p>
                </li>
            </ul>
        </section> -->
        <section class="images">
            <h4>Mes projets</h4>
            <div class="image-card">
              <div class="image-left">
                <img
                  src="https://download.logo.wine/logo/Java_(programming_language)/Java_(programming_language)-Logo.wine.png"
                  alt="JAVA APP"
                />
              </div>
              <div class="image-right">
                <h1><a href="projet.html">PROJET JAVA APP</a></h1>
                <p>
                  Dans cette section, je vais venir présenter mon projet JAVA effectuer durant ma 2ème année
                  où j'effectue une création d'application avec JAVA. Ce projet a pour bu de créer une application pour la maison des ligues 
                  où nous avons des ligues et des employées qui appartiennent à leur ligue. 
                </p>
              </div>
            </div>
            <div class="image-card">
              <div class="image-left">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png"
                  alt="Laravel"
                />
              </div>
              <div class="image-right">
                <h1><a href="projet.html">M2L Ligue projet avec Laravel</a></h1>
                <p>
                  Dans le cadre d'un projet pour M2L, j'ai été chargé de développer une application de type "to-do list" 
                  à l'aide du framework Laravel. Ce projet m'a permis de mettre en pratique mes compétences en 
                  développement back-end et de me familiariser avec les fonctionnalités offertes par Laravel, notamment 
                  en matière de gestion de bases de données et de routage. J'ai particulièrement apprécié la flexibilité 
                  de ce framework et la richesse de son écosystème, ce qui m'a permis de réaliser une application 
                  fonctionnelle et intuitive pour les utilisateurs.
                </p>
              </div>
            </div>
            <div class="image-card">
              <div class="image-left">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Montblanc_logo.svg"
                  alt="Montblanc"
                />
              </div>
              <div class="image-right">
                <h1><a href="projet.html">MONTBLANC WORKSHOP</a></h1>
                <p>
                  Lors d'un workshop stimulant pour la prestigieuse 
                  marque Montblanc, j'ai eu l'opportunité de contribuer à la conception d'un programme de fidélité 
                  exclusif. Mon rôle principal a été de concevoir et de développer une section dédiée à ce programme 
                  sur leur site web. J'ai travaillé avec une équipe de professionnels du marketing et du design pour 
                  créer une expérience en ligne à la hauteur de l'image de luxe de Montblanc. Ce projet m'a permis de 
                  mettre en pratique mes compétences en développement web tout en découvrant les enjeux de la fidélisation
                  client dans le secteur du luxe.
                </p>
              </div>
            </div>
          </section>

